.card-recipe-food {
  border-radius: 12px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.212) 0 0 5px;
  color: white;
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 8px;
  max-height: 150px;
  overflow: hidden;
  width: 95%;
}

button:focus {
  outline: none;
}

.section {
  margin-bottom: 40px;
}

.container-card-food {
  display: flex;
  justify-content: center;
}

.img-card {
  background: linear-gradient();
  object-fit: fill;
  width: 100%;
}

.chato {
  align-items: flex-end;
  background: linear-gradient(188deg, rgba(230,230,230,0) 34%, rgba(0, 0, 0, 0.747) 100%);
  display: flex;
  height: 100%;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
}

.title-card {
  font-size: x-large;
  margin-left: 14px;
}

.footer {
  align-items: center;
  background-color: white;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.212) 0 0 5px;
  display: flex;
  height: 45px;
  justify-content: space-evenly;
  left: 0;
  position: fixed;
  width: 100%;
}

footer img {
  max-width: 35px;
}

footer button {
  background-color: white;
  border: none;
}

.top-bar {
  background-color: blue;
}

.category-selected {
  align-items: center;
  background-color: white;
  display: flex;
  height: 40px;
  justify-content: space-evenly;
}

.category-selected h2 {
  color: black;
  font-size: 20px;
  margin: 0;
  text-decoration: none;
}

/* FoodCategories */
.apagado {
  margin: 0;
  position: absolute;
  visibility: hidden;
}

input {
  background-color: rgb(221, 221, 221);
  border: none;
  border-style: none;
  outline: none;
  padding: 8px;
}

.option-categoty:after {
  background-color: black;
  content: '';
  display: block;
  height: 2px;
  margin-top: 4px;
  width: 100%;
}

.search-div {
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.212) 0 0 5px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  position: fixed;
  top: 10%;
  width: 100%;
  z-index: 10;
}

.closeSearch {
  align-self: flex-end;
  border: none;
  border-style: none;
  color: rgb(104, 104, 104);
  font-size: x-large;
  justify-content: flex-start;
  margin-bottom: 100px;
  margin-right: 10px;
  outline: none;
  position: fixed;
}

.closeSearch:focus {
  outline: none;
}

.search-div button {
  background-color: white;
  border: none;
  border-style: none;
}

.search-div button:focus {
  outline: none;
}

.food-ingredients {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.food-ingredients button {
  background-color: white;
  border: none;
  border-style: none;
  outline: none;
}

.food-ingredients button:active {
  border: none;
  border-style: none;
  outline: none;
}
